[Desktop Entry]
Type=Application
Name=Install Aries with debugging mode on
Comment=Installer for Aries to debug
Categories=Utility;
Exec=pkexec calamares -d
Icon=arco-calamares
